@charset "utf-8"; body {-webkit-text-size-adjust:none} /* BASIC */ 
html {margin:0; padding:0;} 
body {height:100%;} 
html {overflow-y:scroll;} 
body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
    margin:0; padding:0; -webkit-text-size-adjust:none; font-family: 'Newsreader', serif;
    font-family: 'Noto Sans KR', sans-serif; 
} /* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */ 
body, input, textarea, select, button {color:#585858; font-size:12px; font-family: Dotum; } 
header, footer, nav, aside, section, article {display:block;} 
fieldset, img {border:0;} 
img {-ms-interpolation-mode:bicubic !important; border:0;} 
table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;} 
ul, ol {list-style:none;} a {color:#585858; text-decoration:none;} 
a:link {color:#606060; text-decoration:none;} 
a:hover {color:#38940d;} 
.clear { clear:both; }


section {
    width: 100%;
    height: 1500px;
    float:left;
    text-align: center;
    background-color: #cfd5e5;
}
footer {
    width: 100%;
    height: 110px;
    float: left;
    text-align: center;
    background-color: rgb(150, 150, 150);
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    float: left;
    margin-left: 10%;
    font-size: 2rem;
}


.left {
    float:left;
    border: 1px solid #585858;
}

.right {
    float:right;
    border: 1px solid #585858;
    position: relative;
    top:400px;
    right: 250px;
    width: 600px;
}

article {
    background-color: rgb(209, 209, 209);
    margin-top: 5%;
    height: 600px;
    width: 60%;
}

aside {
    background-color: rgb(146, 146, 146);
    
}

.information {
    float: left;
}

.information h1, .information h2 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

#like {
    height: 50px;
    width:50px;
    border: 1px solid #585858;
    border-radius: 50px;
    font-size: 1.4rem;
    text-align: center;
}





