<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account category</title>

    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="account_category.css" />

</head>
<body>
    <header>
        <a class = "logo" href = '#'>DayToYear</a>
        <nav>
            <ul>
                <li>
                    <a href = '#'></a>
                </li>
                <li>
                    <a href = '#'></a>
                </li>
                <li>
                    <a href = '#'></a>
                </li>
                <li>
                    <a href = '#'></a>
                </li>
            </ul>
        </nav>
        <a class = "account" href = "#">Login</a>
        <a class = "signin" href = "#">Sign in</a>
    </header>




    <main>
        <div class = "profile">
            <div class = "pro_img">
                <img class = "pro_img" src = "star-icon.png" alt = "프로필 사진">
            </div>
            <div class = "pro_content">kookmin12</div>
            <div class = "pro_content">kookmin12 님,<br>안녕하세요</div>
        </div>
        <div class = "list">
            <ul>
                <li>Profile</li>
                <li>My Post</li>
                <li>♥</li>
                <li>회원 정보 수정</li>
            </ul>
        </div>

        
        <section class = "section intro">
            개인 대여 중개 플랫폼<br>
            Day To Year 입니다.<br>
            
        </section>

        <section class = "section gallery">
            <article>
                <div id = "photo-1" class = "photo"></div>
                <div class = "info">
                    <div class = "like on"></div>
                    <div class = "writer">writer</div>
                    <div class = "comment">comment</div>
                </div>
            </article>

            <article>
                <div id = "photo-2" class = "photo"></div>
                <div class = "info">
                    <div class = "like on"></div>
                    <div class = "writer">writer</div>
                    <div class = "comment">comment</div>
                </div>
            </article>


                    
        </section>
        
    </main>

    <footer>
        <ul>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 보호</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>

    </footer>
</body>
</html>