{% extends 'base.html' %}
{% block container %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account myinfo</title>
    <link rel = "stylesheet" href = "{% static 'accounts/account_myinfo.css' %}">

</head>
<body>
    <main>
        <div class = "profile">
            <div class = "pro_img">
                <img class = "pro_img" src = "{{user.profile_img.url}}" alt = "프로필 사진">
            </div>
            <div class = "pro_content">{{user.username}}</div>
            <div class = "pro_content">{{user.username}} 님,<br>안녕하세요</div>
        </div>
        <div class = "list">
            <ul>
                <li>
                    <a href = "{% url 'profile'%}">Profile</a>
                </li>
                <li>
                    <a href = "{% url 'mypost'%}">My Post</a>
                </li>
                <li>
                    <a href = "{% url 'mylike'%}">♥</a>
                </li>
                <li>
                    <a href = "{% url 'myinfo'%}">회원 정보 수정</a>
                </li>
            </ul>
        </div>

        
        <section class = "section intro">
            <h2>회원 정보 수정</h2>
            주소 및 연락처 등 개인 정보를 수정하실 수 있습니다.
            
        </section>

        <section class = "section contents">
            <div class = "sec_title">기본 정보</div>
            <div class = "sec_content">
                
                아이디 : {{user.username}}<br>
                핸드폰 번호 : {{user.phone_num}}<br>
                닉네임 : {{user.nickname}}<br>
                지역 : {{user.location}}<br>
                
            </div>
        </section>

        <a href = "{% url 'myinfoupdate' %}" method = "POST">정보 수정하기</a>
    </main>


</body>
</html>
{% endblock %}