{% extends 'base.html' %}
{% block container %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'rental/css/suggest.css' %}">
</head>
<body>
    <section class="edit">
        <h1>Edit Rental Suggest Form</h1>
        <hr>
        <form class="suggest" action="{% url 'update' rental.id %}" method="POST">
            {%csrf_token%}
            <p>대여 물품<br> <input type="text" name="product" value= "{{rental.product}}"></p>
            <p>사진<br> <input id="inputbox" type="file" name="images" accept="{{ rental.images.url }}"></p>
            <p>가격<br><input id="shortbox" type="number" name="price" value= "{{rental.price}}">원</p>
            <p>도시<br><input type="text" name="city" value= "{{rental.location_city}}"><p>
            <p>상세주소 <br> <input type="text" name="address" value= "{{rental.location_detail}}"></p>
            <p>대여 기간<br> <input id="shortbox" type="number" name="rentterm" value= "{{rental.rentterm}}">일</p>
            <p>소개<br> <input id="longbox" type="text" name="information" value= "{{rental.inforamtion}}"></p>
            <button type="submit">edit</button>
        </form>
    </section>
</body>
</html>
{% endblock %}
