<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day to year</title>
    <link rel="stylesheet" href="product.css">
</head>
<body>
    <section class="product">
        <article class="left">
            <div>
                {{rental}}
                {{rental.writer}}
                {{rental.rentterm}}
                {{rental.price}}
                {{rental.location_city}}
                {{rental.location_detail}}
                {{rental.inforamtion}}
                <a href="{% url 'edit' rental.id %}">edit</a>
                <a href="{% url 'delete' rental.id %}">delete</a>
            </div>
        </article>
        <aside class="right">
            <div class="information">
                <h1>product_name</h1>
                <h2>expense</h2>
                <h2>rent term</h2>
                <p>information</p>
                <button id="like"><a href="#">like</a></button>

            </div>           
        </aside>
    </section>
    <footer>
        <ul>
            <li><a>Company</a></li>
            <li><a>Customer Service</a></li>
        </ul>
    </footer>
</body>
</html>