{% extends 'base.html' %}
{% block container %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day to year</title>
    <link rel="stylesheet" href="{% static 'rental/css/product.css' %}">
</head>
<body>
    <section class="product">
        <h1>Product Detail</h1>
        <hr>
        <article class="left">
            {% if rental.images %}
            <img src="{{ rental.images.url }}" width="1200" height="692">
            {% endif %}
        </article>
        <aside class="right">
            <div class="information">
                <p class="nick">{{rental.writer.nickname}}님의</p><br>
                <h1>{{rental.product}}</h1><br>
                <p class="rentterm">{{rental.rentterm}}일동안 {{rental.price}}원</p>
                <br>
                <p class="rental_address">{{rental.location_city}} {{rental.location_detail}}</p><br>
                <p class="detail">{{rental.inforamtion}}</p><br>
                {% if user.is_authenticated %}<!--<img src="" alt="좋아요" width="100px" height="100px">-->
                {% if liked %}
                <button id="like"><a href="{% url 'like' rental.id %}">{{total_likes}} DISLIKE</a></button>
                {% else %}
                <button id="like"><a href="{% url 'like' rental.id %}">{{total_likes}} LIKE</a></button>
                {% endif %}
                {% endif %}
                <a class="edit" href="{% url 'edit' rental.id %}">edit</a>
                <a class="edit" href="{% url 'delete' rental.id %}">delete</a>  
            </div>           
        </aside>
    </section>
</body>
</html>
{% endblock %}