{% extends 'base.html' %}
{% block container %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day to year</title>
    <link rel="stylesheet" href="{% static 'rental/css/product.css' %}">
</head>
<body>
    <section class="product">
        <article class="left">
            {% if rental.images %}
            <img src="{{ rental.images.url }}" width="500" height="500">
            {% endif %}
        </article>
        <aside class="right">
            <div class="information">
                <h1>{{rental.product}}</h1>
                <h3>{{rental.writer.nickname}}</h3>
                <h2>{{rental.price}}</h2>
                <h2>{{rental.rentterm}}</h2>
                <h4>{{rental.location_city}}</h4>
                <h4>{{rental.location_detail}}</h4>
                <p>{{rental.inforamtion}}</p>
                <a href="{% url 'edit' rental.id %}">edit</a>
                <a href="{% url 'delete' rental.id %}">delete</a>
                {% if liked %}
                <button id="like"><a href="{% url 'like' rental.id %}">dislike,{{total_likes}}</a></button>
                {% else %}
                <button id="like"><a href="{% url 'like' rental.id %}">like,{{total_likes}}</a></button>
                {% endif %}
            </div>           
        </aside>
    </section>
</body>
</html>
{% endblock %}