{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day to year</title>
    <link rel="stylesheet" href="{% static 'rental/css/rental.css' %}">
</head>
<body class="wrap">
    <header>
        <h1><a href="">Day to Year</a></h1>
        <div class="search">
            <input type="text" placeholder="동네 이름, 물품명 등을 검색해보세요!">
            <button><a href="#">검색</a></button>
        </div>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">neighbor</a></li>
                <li><a href="#">product</a></li>
                <li><a href="#">customer service</a></li>
                <li><a href="#">cart</a></li>
                <li><a href="#">my page</a></li>
            </ul>
        </nav>
        
    </header>
    <section>
        <div id="arti_center">
            <article class="arti1">
                <h2>search product</h2>
                <div id="product1">
                    product 1
                </div>
                <div>
                    product 2
                </div>
                <div>
                    product 3
                </div>
                <div>
                    product 4
                </div>
                <div>
                    product 5
                </div>
                <div>
                    product 6
                </div>
            </article>
        </div>
        <article class="arti2">
            <h2>longterm product</h2>
            <div>
                product 1
            </div>
            <div>
                product 2
            </div>
            <div>
                product 3
            </div>
        </article>
        <article class="arti3">
            <h2>similar product</h2>
            <div>
                product 1
            </div>
            <div>
                product 2
            </div>
            <div> 
                product 3
            </div>
            <div>
                product 4
            </div>
        </article>
    </section>
    <footer>
        <ul>
            <li><a>Company</a></li>
            <li><a>Customer Service</a></li>
        </ul>
    </footer>
</body>
</html>